mat-calendar {
  transform: scale(0.95); /* Smanjuje veličinu kalendara */
  transform-origin: top left; /* Postavlja točku skaliranja */
}


/* Container za kalendar i događaje */
.calendar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 20px;
  height: 60vh; /* Visina kontejnera za kalendar i događaje */
}

.calendar-wrapper {
  flex: 2; 
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  height: 140%;
  overflow: auto;
}


/* Stilizacija za karticu s događajima */
.events-container {
  flex: 1; /* Lista događaja zauzima 1/4 prostora */
  overflow-y: auto; /* Omogući scroll ako ima puno događaja */
  max-height: 80vh; /* Ograniči visinu kako bi odgovaralo kontejneru */
}

/* Kartica s događajima */
mat-card {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Odmak između kartica */
}

/* Kartica naslova */
mat-card-title {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Kartica sadržaja */
mat-card-content {
  padding: 20px;
}

/* Stilizacija događaja */
.event-title {
  font-size: 0.9rem;
  color: #fff;
  background-color: #007bff;
  padding: 4px 8px;
  border-radius: 3px;
  margin-top: 4px;
}

/* Stilizacija događaja u kalendaru */
.example-event {
  background-color: #ffd700; /* Boja za event */
  border-radius: 50%;
  display: inline-block;
  width: 1.5rem; /* Veličina event markera */
  height: 1.5rem; /* Veličina event markera */
  line-height: 1.5rem; /* Centriraj tekst vertikalno */
  text-align: center; /* Centriraj tekst horizontalno */
  color: white;
  font-size: 0.75rem; /* Smanji font za bolji izgled */
}


/* Stilizacija za karticu s događajima */
.events-container {
  flex: 1; /* Lista događaja zauzima 1/4 prostora */
  overflow-y: auto; /* Omogući scroll ako ima puno događaja */
  max-height: 80vh; /* Ograniči visinu kako bi odgovaralo kontejneru */
}

/* Kartica s događajima */
mat-card {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Odmak između kartica */
}

/* Kartica naslova */
mat-card-title {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Kartica sadržaja */
mat-card-content {
  padding: 20px;
}

/* Stilizacija događaja */
.event-title {
  font-size: 0.9rem;
  color: #fff;
  background-color: #007bff;
  padding: 4px 8px;
  border-radius: 3px;
  margin-top: 4px;
}

/* Stilizacija događaja u kalendaru */
.example-event {
  background-color: #ffd700; /* Boja za event */
  border-radius: 50%;
  display: inline-block;
  width: 1.5rem; /* Veličina event markera */
  height: 1.5rem; /* Veličina event markera */
  line-height: 1.5rem; /* Centriraj tekst vertikalno */
  text-align: center; /* Centriraj tekst horizontalno */
  color: white;
  font-size: 0.75rem; /* Smanji font za bolji izgled */
}
  .add-lecture-button {
    background-color: transparent;
    color: black; /* Button text color */
  }
  
  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .styled-table {
    width: 100%;
    border-collapse: collapse; /* Use collapse to avoid gaps */
  }
  
   .styled-table th {
    text-align: left;
    font-size: 20px;
  }
  .styled-table td {
    text-align: left;
    font-size: 20px;
  }
  .styled-table th {
    background-color: #f2f2f2;
  } 
  
  .styled-table tbody tr {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .styled-table tbody tr:hover {
    background-color: #f9f9f9;
  }

.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.toolbar-link {
  padding: 10px 20px; /* Dodajemo odgovarajući padding */
  margin-right: 20px; /* Dodajemo razmak između linkova */
  color: white; /* Boja teksta */
  text-decoration: none; /* Uklanjamo podvučenost linkova */
  cursor: pointer; /* Postavljamo kursor na pokazivač da označimo da su elementi klikabilni */
  background-color: rgba(0, 0, 0, 0.2); /* Tamnija boja pozadine */
  border-radius: 5px; /* Dodajemo zaobljenje rubova */
}

.toolbar-link:hover {
  text-decoration: underline; /* Dodajemo podvučenost tekstu kada je link hoveran */
}
.delete-button:hover {
  background-color: #ff1a1a;
}
.event-row.event-header {
  background-color: #f2f2f2; /* Boja pozadine headera */
  font-weight: bold; /* Podebljan font za naglašavanje */
}

.event-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Razmak između redova */
}

.event-row {
  display: flex;
  justify-content: space-between;
}

.event-cell {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #ccc; /* Dodajte rubove za svaku ćeliju */
}