<mat-toolbar color="primary" style="margin-bottom:50px">
    <span>Lecture scheduler</span>
  </mat-toolbar>
  
  <div class="calendar-container">
    <div class="calendar-wrapper">
      <mat-calendar [selected]="selectedDate" (selectedChange)="dateSelected($event)" #calendar>
      </mat-calendar>
    </div>
    <div class="events-container">
  <mat-card *ngIf="selectedDate">
    <mat-card-title>{{ selectedDate | date }} <button *ngIf="this.userData.userRole !== 0" mat-button class="add-lecture-button" (click)="openAddLectureDialog()">Dodaj predavanje</button></mat-card-title>
  
    <mat-card-content>
      <table>
        <thead>
          <tr>
            <th>Ime predmeta</th>
            <th>Učionica</th>
            <th>Početak</th>
            <th>Kraj</th>
            <th>Akcija</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events">
            <td *ngIf="this.selectedDate.toISOString().substring(0, this.selectedDate.toISOString().indexOf('T')) === event.lectureStart?.toString()?.substring(0, event.lectureStart?.toString()?.indexOf('T'))"
            >{{ event.course?.courseName }}</td>
            <td *ngIf="selectedDate.toISOString().substring(0, selectedDate.toISOString().indexOf('T')) === event.lectureStart?.toString()?.substring(0, event.lectureStart?.toString()?.indexOf('T'))"
            >{{ event.classroom?.classroomName }}</td>
            <td *ngIf="selectedDate.toISOString().substring(0, selectedDate.toISOString().indexOf('T')) === event.lectureStart?.toString()?.substring(0, event.lectureStart?.toString()?.indexOf('T'))"
            >{{ event.lectureStart?.toString()?.substring(11, 16) }}</td>
            <td *ngIf="selectedDate.toISOString().substring(0, selectedDate.toISOString().indexOf('T')) === event.lectureStart?.toString()?.substring(0, event.lectureStart?.toString()?.indexOf('T'))"
            >{{ event.lectureEnd?.toString()?.substring(11, 16) }}</td>
            <td>
              <button *ngIf="event.id && selectedDate.toISOString().substring(0, selectedDate.toISOString().indexOf('T')) === event.lectureStart?.toString()?.substring(0, event.lectureStart?.toString()?.indexOf('T'))"
              class="delete-button" (click)="deleteLecture(event.id)">Obriši</button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>
  </div>
  